h1{
    font-size:40px;
    text-align:center;
    color:white;
}

.div00{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:160px;

}
.div11{
    width:200px;
    height:200px;
    margin:0 10px;
    border-radius:10px;
    line-height:200px;
    text-align:center;
    background-color:rgba(255, 45,45,1);
}

.wa{
    background:url("media/landscape-3913574_960_720.jpg") no-repeat;
    background-color:aquamarine;
    background-size:cover;
    background-attachment:fixed;
}

.div12{
    width:200px;
    height:200px;
    margin:0 10px;
    border-radius:10px;
    line-height:200px;
    text-align:center;
    background:linear-gradient(to right,rgba(101, 70, 39),rgba(233,34,34))

}

.div13{ 
    width:200px;
    height:200px;
    margin:0 10px;
    border-radius:10px;
    line-height:200px;
    text-align:center;
    background:radial-gradient(rgb(233,34,34),rgb(101, 70, 39));
}

.div3{
    width:600px;
    height:400px;
    border-radius:10px;
    background:linear-gradient(rgba(244,34,34,0.1),rgba(244,34,34,0.5)),url(media/flowers-6484552_1280.webp);
    
}

.div2{
    text-align:center;
    display:flex;
    justify-content:center;
    margin-top:150px;
}